In [1]:
import pandas as pd
import numpy as np
import time
import turicreate as tc
from sklearn.model_selection import train_test_split
from sqlalchemy import types, create_engine, insert, exc
import pymysql

---
# Extracting Data from MySQL DB

In [61]:
engine = create_engine('mysql+pymysql://root:Constellation_96502@127.0.0.1:3306/pollosnpollos_regs')
data = pd.read_sql(f"SELECT * FROM ventas LIMIT 0, 10000;", 
                   engine, 
                   parse_dates = {'fecha': '%Y-%m-%d'})  

data['fecha'] = data['fecha'].dt.date

In [62]:
data.columns

Index(['fecha', 'cliente', 'cantidad', 'producto', 'precio_u', 'importe'], dtype='object')

In [63]:
clientes = data['cliente'].sort_values().unique()
display(clientes)

array(['A. CEJA', 'ABARROTES BETITO', 'ABARROTES BETITO MAMA', "ABY'S",
       'ALEJANDRA', 'ALFONSO', 'ALFONSO CEJA', 'ALMENDRO 57',
       'ANTONIO CEJA', 'ARMANDO', 'BETITO', 'BOSQUE 135', 'CABAÑA 46',
       'CABAÑA 46 ', 'CABAÑA 47', 'CABAÑA 48', 'CABAÑA 49', 'CABAÑA 50',
       'CAMPIÑA', 'CAMPIÑA 165', 'CAMPIÑA 166', 'CAMPIÑA 167',
       'CAMPIÑA 168', 'CAMPIÑA 71', 'CAMPIÑA 80', 'CAMPIÑA 80 ',
       'CAMPIÑA 81', 'CARLOS', 'CARLOS DIAZ', 'CARLOS JUGOS',
       'CARLOS LUGO', 'CASA RIVAS', 'CHUCHO', 'CIENEGA ', 'CIENEGA 7 ',
       'CIENEGA 8', 'CIENEGA 8 ', 'CIENEGA 9', 'CLUB HACIENDA', 'CORONA',
       'CRISTOBAL', 'DANIEL', 'DELICIAS', 'DRA. ABARCA', 'EL TACOTE',
       'EL VENADO', 'ELSA FRIAS', 'ERNESTO ', 'ERNESTO 31', 'F. SANCHEZ',
       'FANY', 'FCO PAPA', 'FCO SANCHEZ', 'FCO. SANCHEZ',
       'FRANCISCO IRENE', 'FRANCISCO SANCHEZ',
       'FRANCISCO SANCHEZ HERMANO', 'FRANCISCO SANCHEZ PAPA', 'GELA',
       'HACIENDA DE LA GAVIA 121', 'HUMBERTO', 'J. AGUINAGA',
       'JESUS AGUINAGA', 'JOSE AVILES', 'JOSE HERNANDEZ', 'KARLA',
       'LA GAVIA 121', 'LA PARROQUIA', 'LA SUIZA', 'LILIANA', 'LIZ',
       'LUCY', 'LULU', 'MARIO CEJA', 'MARMOL 75', 'MARU', 'MARY', 'MESA',
       'MIGUEL MEDINA', 'PAOLA ROMERO', 'PARROQUIA', 'PASEO 64',
       'PASEO 64 ', 'PAUL GARCIA', 'PEDRO', 'PIRAMIDE SANTA MARIA ELENA',
       'PORTAL 91', 'RAFAEL SALINAS', 'RAUL GARCIA',
       'RAUL GARCIA SOBRINO', 'RAUL GONZALEZ', 'ROBERTO CARLOS',
       'RODRIGO DE TRIANA 28', 'RODRIGO DE TRIANA 29',
       'RODRIGO DE TRIANA 30', 'ROSITA', 'SALINAS', 'SOKI',
       'SRA. ANA PATIÑO', 'SRA. GELA', 'SRA. MARIA', 'SRA. MARU', 'SUIZA',
       'TACOTE', 'TRAMONTE', 'TRAMONTE 87', 'TRAMONTE 87 ', 'VANESA',
       'XAJAL 232'], dtype=object)

In [80]:
ventas = data.groupby(['cliente','producto'], 
                      as_index = False)['importe'].count()
ventas.columns = ['cliente','producto','purchase_count']

In [81]:
ventas.sort_values(by="purchase_count", ascending=False)

        cliente          producto  purchase_count
254    LA SUIZA           PECHUGA              61
396     SALINAS           PECHUGA              60
399     SALINAS            RETAZO              56
255    LA SUIZA  PIERNA CON MUSLO              55
397     SALINAS  PIERNA CON MUSLO              51
..          ...               ...             ...
179  ELSA FRIAS              PATA               1
178   EL VENADO  PIERNA CON MUSLO               1
176   EL VENADO             MUSLO               1
174   EL TACOTE            RETAZO               1
450   XAJAL 232           PECHUGA               1

[451 rows x 3 columns]

In [82]:
def create_data_dummy(data):
    data_dummy = data.copy()
    data_dummy['purchase_dummy'] = 1
    return data_dummy

data_dummy = create_data_dummy(ventas)

In [83]:
data_dummy

              cliente     producto  purchase_count  purchase_dummy
0             A. CEJA      P.MUSLO               1               1
1             A. CEJA      PECHUGA               1               1
2    ABARROTES BETITO  ALA NATURAL               1               1
3    ABARROTES BETITO    MOLE ROJO               1               1
4    ABARROTES BETITO        MUSLO               1               1
..                ...          ...             ...             ...
446            VANESA       TRONCO               5               1
447         XAJAL 232      CONSOME               1               1
448         XAJAL 232    MOLE ROJO               1               1
449         XAJAL 232        MUSLO               1               1
450         XAJAL 232      PECHUGA               1               1

[451 rows x 4 columns]

In [104]:
df_matrix = pd.pivot_table(ventas, values='purchase_count', index='cliente', columns='producto')

In [105]:
df_matrix_norm = (df_matrix-df_matrix.min())/(df_matrix.max()-df_matrix.min())

In [106]:
df_matrix_norm

producto,ADOBADA,ALA ADOBADA,ALA NATURAL,BCO NILO,BLANCO DE NILO,BLANCO NILO,BONELESS,CHILE,CONSOME,CORAZON,...,PULPA,RABADILLA,RETAZO,SALMON,TENDERS,TILAPIA,TIRA,TIRA DE POLLO,TIRA EMPANIZADA,TRONCO
cliente,,,,,,,,,,,,,,,,,,,,,
A. CEJA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABARROTES BETITO,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABARROTES BETITO MAMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABY'S,NaN,0.166667,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.130435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.10
ALEJANDRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.021739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TRAMONTE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.00
TRAMONTE 87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.538462,NaN,NaN,NaN,0.25
TRAMONTE 87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
VANESA,NaN,0.166667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.260870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.20
XAJAL 232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
d = df_matrix_norm.reset_index() 
d.index.names = ['scaled_purchase_freq'] 
data_norm = pd.melt(d, 
                    id_vars=['cliente'], 
                    value_name='scaled_purchase_freq').dropna()
print(data_norm.shape)
data_norm.head()

(412, 3)

         cliente     producto  scaled_purchase_freq
112        ABY'S  ALA ADOBADA              0.166667
118      ARMANDO  ALA ADOBADA              0.000000
120   BOSQUE 135  ALA ADOBADA              0.166667
136       CARLOS  ALA ADOBADA              0.000000
137  CARLOS DIAZ  ALA ADOBADA              1.000000

In [108]:
def split_data(data):
    '''
    Splits dataset into training and test set.
    
    Args:
        data (pandas.DataFrame)
        
    Returns
        train_data (tc.SFrame)
        test_data (tc.SFrame)
    '''
    train, test = train_test_split(data, test_size = .2)
    train_data = tc.SFrame(train)
    test_data = tc.SFrame(test)
    return train_data, test_data

In [109]:
train_data, test_data = split_data(ventas)
train_data_dummy, test_data_dummy = split_data(data_dummy)
train_data_norm, test_data_norm = split_data(data_norm)

In [110]:
train_data_norm

Columns:
	cliente	str
	producto	str
	scaled_purchase_freq	float

Rows: 329

Data:
+-------------------+----------------+----------------------+
|      cliente      |    producto    | scaled_purchase_freq |
+-------------------+----------------+----------------------+
|     ALEJANDRA     |     PULPA      | 0.021739130434782608 |
|    ALFONSO CEJA   |  PIERNA MUSLO  |         1.0          |
|  SRA. ANA PATIÑO  |    PECHUGA     |         0.0          |
|    DRA. ABARCA    |  ALA ADOBADA   |         0.0          |
|      ERNESTO      |    PECHUGA     |         0.0          |
|        FANY       |  ALA NATURAL   |  0.2857142857142857  |
|      ARMANDO      |    NUGGETS     |         0.0          |
|  ABARROTES BETITO |     MUSLO      |         0.0          |
| FRANCISCO SANCHEZ |     MUSLO      | 0.17647058823529413  |
|     CABAÑA 46     | BLANCO DE NILO |         0.0          |
+-------------------+----------------+----------------------+
[329 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [111]:
user_id = 'cliente'
item_id = 'producto'
users_to_recommend = list(clientes)
n_rec = 5 # number of items to recommend
n_display = 30 # to display the first few rows in an output dataset

In [112]:
def model(train_data, name, user_id, item_id, target, users_to_recommend, n_rec, n_display):
    if name == 'popularity':
        model = tc.popularity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target)
    elif name == 'cosine':
        model = tc.item_similarity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target, 
                                                    similarity_type='cosine')
    elif name == 'pearson':
        model = tc.item_similarity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target, 
                                                    similarity_type='pearson')
        
    recom = model.recommend(users=users_to_recommend, k=n_rec)
    recom.print_rows(n_display)
    return model

In [113]:
name = 'popularity'
target = 'purchase_count'
popularity = model(train_data, 
                   name, 
                   user_id, 
                   item_id, 
                   target, 
                   users_to_recommend, 
                   n_rec, 
                   n_display)

Preparing data set.

    Data has 360 observations with 106 users and 57 items.

    Data prepared in: 0.003986s

360 observations to process; with 57 unique items.

+-----------------------+------------------+--------------------+------+
|        cliente        |     producto     |       score        | rank |
+-----------------------+------------------+--------------------+------+
|        A. CEJA        |      RETAZO      | 34.333333333333336 |  1   |
|        A. CEJA        |   POLLO ENTERO   |        7.0         |  2   |
|        A. CEJA        | PIERNA CON MUSLO | 6.305555555555555  |  3   |
|        A. CEJA        |      PULPA       | 5.470588235294118  |  4   |
|        A. CEJA        |   PECHUGA CAJA   |        4.0         |  5   |
|    ABARROTES BETITO   |      RETAZO      | 34.333333333333336 |  1   |
|    ABARROTES BETITO   |     PECHUGA      | 7.180327868852459  |  2   |
|    ABARROTES BETITO   |   POLLO ENTERO   |        7.0         |  3   |
|    ABARROTES BETITO   |      PULPA       | 5.470588235294118  |  4   |
|    ABARROTES BETITO   |   PECHUGA CAJA   |        4.0         |  5   |
| ABARROTES BETITO MAMA |      RETAZO      | 34.333333333333336 |  1   |
| ABARROTES BETITO MAMA |     PECHUGA      | 7.180327868852459  |  2   |
| ABARROTES BETITO MAMA |   POLLO ENTERO   |        7.0         |  3   |
| ABARROTES BETITO MAMA |      PULPA       | 5.470588235294118  |  4   |
| ABARROTES BETITO MAMA |   PECHUGA CAJA   |        4.0         |  5   |
|         ABY'S         |      RETAZO      | 34.333333333333336 |  1   |
|         ABY'S         |   POLLO ENTERO   |        7.0         |  2   |
|         ABY'S         | PIERNA CON MUSLO | 6.305555555555555  |  3   |
|         ABY'S         |       PATA       |        4.0         |  4   |
|         ABY'S         |   PECHUGA CAJA   |        4.0         |  5   |
|       ALEJANDRA       |      RETAZO      | 34.333333333333336 |  1   |
|       ALEJANDRA       |     PECHUGA      | 7.180327868852459  |  2   |
|       ALEJANDRA       |   POLLO ENTERO   |        7.0         |  3   |
|       ALEJANDRA       |      PULPA       | 5.470588235294118  |  4   |
|       ALEJANDRA       |   PECHUGA CAJA   |        4.0         |  5   |
|        ALFONSO        |      RETAZO      | 34.333333333333336 |  1   |
|        ALFONSO        |     PECHUGA      | 7.180327868852459  |  2   |
|        ALFONSO        |   POLLO ENTERO   |        7.0         |  3   |
|        ALFONSO        | PIERNA CON MUSLO | 6.305555555555555  |  4   |
|        ALFONSO        |      PULPA       | 5.470588235294118  |  5   |
+-----------------------+------------------+--------------------+------+
[545 rows x 4 columns]

In [114]:
name = 'popularity'
target = 'scaled_purchase_freq'
pop_norm = model(train_data_norm, 
                 name, 
                 user_id, 
                 item_id, 
                 target, 
                 users_to_recommend, 
                 n_rec, 
                 n_display)

Preparing data set.

    Data has 329 observations with 102 users and 31 items.

    Data prepared in: 0.00325s

329 observations to process; with 31 unique items.

+-----------------------+-------------------+---------------------+------+
|        cliente        |      producto     |        score        | rank |
+-----------------------+-------------------+---------------------+------+
|        A. CEJA        |   PAPA ONDULADA   |         1.0         |  1   |
|        A. CEJA        |      PIERNA       |         1.0         |  2   |
|        A. CEJA        |     PAPA RECTA    |         1.0         |  3   |
|        A. CEJA        |   PAPA FRANCESA   |         0.5         |  4   |
|        A. CEJA        |      NUGGUETS     |         0.5         |  5   |
|    ABARROTES BETITO   |   PAPA ONDULADA   |         1.0         |  1   |
|    ABARROTES BETITO   |      PIERNA       |         1.0         |  2   |
|    ABARROTES BETITO   |     PAPA RECTA    |         1.0         |  3   |
|    ABARROTES BETITO   |      NUGGUETS     |         0.5         |  4   |
|    ABARROTES BETITO   | PALOMITA DE POLLO | 0.42857142857142855 |  5   |
| ABARROTES BETITO MAMA |   PAPA ONDULADA   |         1.0         |  1   |
| ABARROTES BETITO MAMA |      PIERNA       |         1.0         |  2   |
| ABARROTES BETITO MAMA |     PAPA RECTA    |         1.0         |  3   |
| ABARROTES BETITO MAMA |   PAPA FRANCESA   |         0.5         |  4   |
| ABARROTES BETITO MAMA |      NUGGUETS     |         0.5         |  5   |
|         ABY'S         |   PAPA ONDULADA   |         1.0         |  1   |
|         ABY'S         |      PIERNA       |         1.0         |  2   |
|         ABY'S         |     PAPA RECTA    |         1.0         |  3   |
|         ABY'S         |   PAPA FRANCESA   |         0.5         |  4   |
|         ABY'S         |      NUGGUETS     |         0.5         |  5   |
|       ALEJANDRA       |   PAPA ONDULADA   |         1.0         |  1   |
|       ALEJANDRA       |      PIERNA       |         1.0         |  2   |
|       ALEJANDRA       |     PAPA RECTA    |         1.0         |  3   |
|       ALEJANDRA       |   PAPA FRANCESA   |         0.5         |  4   |
|       ALEJANDRA       |      NUGGUETS     |         0.5         |  5   |
|        ALFONSO        |   PAPA ONDULADA   |         1.0         |  1   |
|        ALFONSO        |      PIERNA       |         1.0         |  2   |
|        ALFONSO        |     PAPA RECTA    |         1.0         |  3   |
|        ALFONSO        |   PAPA FRANCESA   |         0.5         |  4   |
|        ALFONSO        |      NUGGUETS     |         0.5         |  5   |
+-----------------------+-------------------+---------------------+------+
[545 rows x 4 columns]

In [126]:
final_model = tc.item_similarity_recommender.create(tc.SFrame(data_norm), 
                                            user_id=user_id, 
                                            item_id=item_id, 
                                            target='scaled_purchase_freq', similarity_type='cosine')
recom = final_model.recommend(users=users_to_recommend, k=n_rec)
recom.print_rows(n_display)

Preparing data set.

    Data has 412 observations with 108 users and 31 items.

    Data prepared in: 0.002769s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 10.639ms                       | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 11.027ms                            | 26.5             | 8               |

| 36.73ms                             | 100              | 31              |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

+-----------------------+---------------------+----------------------+------+
|        cliente        |       producto      |        score         | rank |
+-----------------------+---------------------+----------------------+------+
|        A. CEJA        |        HIGADO       |         0.0          |  1   |
|        A. CEJA        | HAMBURGESA DE POLLO |         0.0          |  2   |
|        A. CEJA        |    BLANCO DE NILO   |         0.0          |  3   |
|        A. CEJA        |     ALA NATURAL     |         0.0          |  4   |
|        A. CEJA        |     ALA ADOBADA     |         0.0          |  5   |
|    ABARROTES BETITO   |        RETAZO       | 0.009231841564178467 |  1   |
|    ABARROTES BETITO   |       NUGGETS       | 0.005518734455108643 |  2   |
|    ABARROTES BETITO   |       MOLLEJA       | 0.005373334884643555 |  3   |
|    ABARROTES BETITO   |     POLLO ENTERO    | 0.005214512348175049 |  4   |
|    ABARROTES BETITO   |       TILAPIA       | 0.004664480686187744 |  5   |
| ABARROTES BETITO MAMA |        HIGADO       |         0.0          |  1   |
| ABARROTES BETITO MAMA | HAMBURGESA DE POLLO |         0.0          |  2   |
| ABARROTES BETITO MAMA |    BLANCO DE NILO   |         0.0          |  3   |
| ABARROTES BETITO MAMA |     ALA NATURAL     |         0.0          |  4   |
| ABARROTES BETITO MAMA |     ALA ADOBADA     |         0.0          |  5   |
|         ABY'S         |       MOLLEJA       | 0.021397394793374196 |  1   |
|         ABY'S         |        HIGADO       | 0.01257566043308803  |  2   |
|         ABY'S         |       NUGGETS       | 0.00816558940070016  |  3   |
|         ABY'S         |        HUEVO        | 0.005939364433288574 |  4   |
|         ABY'S         |        MUSLO        | 0.005796279226030622 |  5   |
|       ALEJANDRA       |       PECHUGA       | 0.011946320533752441 |  1   |
|       ALEJANDRA       |       MOLLEJA       | 0.010706931352615356 |  2   |
|       ALEJANDRA       |        RETAZO       | 0.007711917161941528 |  3   |
|       ALEJANDRA       |     ALA NATURAL     |  0.0067252516746521  |  4   |
|       ALEJANDRA       |        MUSLO        | 0.006007164716720581 |  5   |
|        ALFONSO        |     PECHUGA CAJA    |  0.2215067446231842  |  1   |
|        ALFONSO        |        HIGADO       | 0.18786028027534485  |  2   |
|        ALFONSO        |       NUGGUETS      | 0.18290728330612183  |  3   |
|        ALFONSO        |     POLLO ENTERO    | 0.17430730164051056  |  4   |
|        ALFONSO        |       NUGGETS       |  0.1568327099084854  |  5   |
+-----------------------+---------------------+----------------------+------+
[545 rows x 4 columns]

Finished training in 1.03814s

In [127]:
df_rec = recom.to_dataframe()
print(df_rec.shape)
df_rec.head()

(545, 4)

   cliente             producto  score  rank
0  A. CEJA               HIGADO    0.0     1
1  A. CEJA  HAMBURGESA DE POLLO    0.0     2
2  A. CEJA       BLANCO DE NILO    0.0     3
3  A. CEJA          ALA NATURAL    0.0     4
4  A. CEJA          ALA ADOBADA    0.0     5

In [128]:
name = 'cosine' 
target = 'scaled_purchase_freq' 
cos_norm = model(train_data_norm, 
                 name, user_id, 
                 item_id, 
                 target, 
                 users_to_recommend,
                 n_rec, 
                 n_display)

Preparing data set.

    Data has 329 observations with 102 users and 31 items.

    Data prepared in: 0.004703s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 38.02ms                        | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

+-----------------------+------------------+-----------------------+------+
|        cliente        |     producto     |         score         | rank |
+-----------------------+------------------+-----------------------+------+
|        A. CEJA        |     NUGGETS      |          0.0          |  1   |
|        A. CEJA        |   ALA NATURAL    |          0.0          |  2   |
|        A. CEJA        |   ALA ADOBADA    |          0.0          |  3   |
|        A. CEJA        |   PIERNA MUSLO   |          0.0          |  4   |
|        A. CEJA        |      PULPA       |          0.0          |  5   |
|    ABARROTES BETITO   |     NUGGETS      |          0.0          |  1   |
|    ABARROTES BETITO   |   ALA ADOBADA    |          0.0          |  2   |
|    ABARROTES BETITO   |     PECHUGA      |          0.0          |  3   |
|    ABARROTES BETITO   |   PIERNA MUSLO   |          0.0          |  4   |
|    ABARROTES BETITO   |      PULPA       |          0.0          |  5   |
| ABARROTES BETITO MAMA |   ALA NATURAL    |          0.0          |  1   |
| ABARROTES BETITO MAMA |   ALA ADOBADA    |          0.0          |  2   |
| ABARROTES BETITO MAMA |     PECHUGA      |          0.0          |  3   |
| ABARROTES BETITO MAMA |   PIERNA MUSLO   |          0.0          |  4   |
| ABARROTES BETITO MAMA |      PULPA       |          0.0          |  5   |
|         ABY'S         |     MOLLEJA      |  0.016989384378705705 |  1   |
|         ABY'S         |  PAPA FRANCESA   |  0.01374643189566476  |  2   |
|         ABY'S         |      MUSLO       |   0.0055509124483381  |  3   |
|         ABY'S         |     NUGGUETS     | 0.0016221659524100168 |  4   |
|         ABY'S         |      HUEVO       | 0.0013035450662885392 |  5   |
|       ALEJANDRA       |     PECHUGA      |  0.011589109897613525 |  1   |
|       ALEJANDRA       |     MOLLEJA      |  0.010740786790847778 |  2   |
|       ALEJANDRA       |   ALA NATURAL    |  0.006912499666213989 |  3   |
|       ALEJANDRA       |      MUSLO       |  0.006199836730957031 |  4   |
|       ALEJANDRA       |      RETAZO      |  0.006045132875442505 |  5   |
|        ALFONSO        |   PECHUGA CAJA   |   0.2484336793422699  |  1   |
|        ALFONSO        |      HIGADO      |  0.21069706976413727  |  2   |
|        ALFONSO        |   POLLO ENTERO   |  0.19587741792201996  |  3   |
|        ALFONSO        |     NUGGETS      |   0.1758977174758911  |  4   |
|        ALFONSO        | PIERNA CON MUSLO |   0.1373807191848755  |  5   |
+-----------------------+------------------+-----------------------+------+
[545 rows x 4 columns]

| 38.826ms                            | 4.75             | 1               |

| 58.573ms                            | 100              | 31              |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.059497s